@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.indv-card {
  padding: 15px;
  margin: 15px;
}

// .deckCard {
//   padding: 15px;
//   margin: 15px;
// }