@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.indv-card {
    padding: 15px;
    margin: 15px;
}

a {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 25px;
    margin: 20px;
    text-decoration: none;
}

// .deckCard {
//   padding: 15px;
//   margin: 15px;
// }